# Ignorar carpetas de dependencias
# frontend/node_modules/
# staticfiles
venv/
env/
.env

# Ignorar archivos de Python
__pycache__/
*.pyc

# Ignorar archivos de base de datos
# db.sqlite3

# Ignorar archivos de logs y caché
npm-debug.log*
.DS_Store

*.log
*.pot