# nixpacks.toml

[phases.setup]
nixPkgs = ["python312", "nodejs_20", "postgresql"]

# Añadir dependencias APT para Weasyprint (la fuente principal de problemas nativos)
apt = ["libpango-1.0-0", "libpangocairo-1.0-0", "libgdk-pixbuf2.0-0", "libffi-dev", "libcairo2-dev", "libcups2-dev"]


[phases.install]
# **MANTENER ESTA CORRECCIÓN**
cmds = [
    "python -m pip install -r requirements.txt",
    "npm install --prefix frontend"
]

[phases.build]
cmds = [
    "npm run build --prefix frontend",
    "python manage.py collectstatic --noinput"
]

[start]
cmd = "gunicorn core_config.wsgi:application --bind 0.0.0.0:8000"

