# nixpacks.toml

[phases.setup]
nixPkgs = ["python312", "nodejs_20", "postgresql"]
# Dependencias APT para Weasyprint (ya que tu requirements.txt las requiere)
apt = ["libpango-1.0-0", "libpangocairo-1.0-0", "libgdk-pixbuf2.0-0", "libffi-dev", "libcairo2-dev", "libcups2-dev"]

# **AÑADIR ESTO:** Fuerza a Python a instalar/actualizar pip y wheel inmediatamente
cmds = ["python -m ensurepip --upgrade", "python -m pip install wheel"]


[phases.install]
# La corrección que ya funciona para invocar a pip
cmds = [
    "python -m pip install -r requirements.txt", 
    "npm install --prefix frontend"
]

[phases.build]
cmds = [
    "npm run build --prefix frontend",
    "python manage.py collectstatic --noinput"
]

[start]
cmd = "gunicorn core_config.wsgi:application --bind 0.0.0.0:8000"

