{% extends 'base.html' %}
{% block page_title %}Cotizaciones{% endblock %}
{% block content %}

<div class="flex space-x-2">
    <a class="rounded-full p-2 font-medium text-white transition-colors duration-500 ease-in-out bg-blue-900 hover:bg-green-600 " href="{% url 'cotizador_app:crear_cotizacion' %}">
        <i class="fas fa-plus"></i>
        <span class="ml-3">Crear Nueva Cotización</span>
    </a>
    <a class="rounded-full p-2 font-medium text-white transition-colors duration-500 ease-in-out bg-blue-900 hover:bg-yellow-400 " href="#">
        <i class="fas fa-filter"></i>
        <span class="ml-3">FILTRAR?</span>
    </a>
</div>
<div class="overflow-x-auto shadow-xl rounded-lg border mt-4 border-gray-100">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-blue-900 text-white">
                    <tr>
                        <th class="px-3 py-3 text-left text-xs font-semibold uppercase tracking-wider w-16">ID</th>
                        <th class="px-3 py-3 text-left text-xs font-semibold uppercase tracking-wider min-w-[250px]">Cliente / Proyecto</th>
                        <th class="px-3 py-3 text-center text-xs font-semibold uppercase tracking-wider w-32">Fecha Creación</th>
                        <th class="px-3 py-3 text-right text-xs font-semibold uppercase tracking-wider w-32">Costo Crudo Total</th>
                        <th class="px-3 py-3 text-left text-xs font-semibold uppercase tracking-wider w-32">Creado Por</th>
                        <th class="px-3 py-3 text-center text-xs font-semibold uppercase tracking-wider w-20">Acciones</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-100">
                    {% for cotizacion in cotizaciones %}
                        <tr class="hover:bg-blue-50/50 transition duration-100">
                            <td class="px-3 py-3 text-sm font-bold text-[#002B5B]">{{ cotizacion.id }}</td>
                            <td class="px-3 py-3 text-sm text-gray-900">{{ cotizacion.proyecto_nombre }}</td>
                            <td class="px-3 py-3 text-sm text-center text-gray-600">{{ cotizacion.fecha_creacion|date:"d-M-Y" }}</td>
                            <td class="px-3 py-3 text-sm font-semibold text-red-600 text-right">$ {{ cotizacion.total_costo|floatformat:2 }}</td>
                            <td class="px-3 py-3 text-sm text-gray-700">{{ cotizacion.cliente.nombre|default:"N/A" }}</td>
                            <td class="px-3 py-3 text-center text-sm font-medium">
                                <a href="{% url 'cotizador_app:detalle_cotizacion' %}" 
                                   class="text-[#7CA8D5] hover:text-[#002B5B] transition duration-150 p-1 rounded-full">
                                    <i class="fas fa-eye text-sm"></i>
                                </a>
                                <a href="{% url 'cotizador_app:generar_pdf' cotizacion.id %}" 
                                   class="text-[#7CA8D5] hover:text-[#002B5B] transition duration-150 p-1 rounded-full">
                                    <i class="fa-solid fa-download"></i>
                                <a href="{% url 'cotizador_app:eliminar_cotizacion' cotizacion.id %}"
                                   class="text-[#7CA8D5] hover:text-[#002B5B] transition duration-150 p-1 rounded-full">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center py-4">No hay cotizaciones registradas.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
{% endblock %}