<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>

    {% load django_vite %}
    {% vite_hmr_client %}
    {% vite_asset './src/main.js' %}

</head>
<body class="bg-gray-100 text-gray-800 font-sans">
    
    <header class="bg-indigo-600 p-4 text-white">
        {% block header %}
        <nav class="container mx-auto">
            <h1 class="text-2xl font-bold">Coaaaaatizadssssorssseee de Acerooooaa</h1>
        </nav>
        {% endblock %}
    </header>

    <main class="container mx-auto mt-8 p-4 bg-white rounded-lg shadow-lg">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="text-center p-4 mt-8 text-gray-500">
        {% block footer %}
        <p>&copy; 2025 INMECSUTEC Ltda.</p>
        {% endblock %}
    </footer>

</body>
</html>